---
layout: default
---
<article class="post h-entry">
  <header class="entry-header">
	  <h1 class="post-title p-name">
		  <a class="u-url" rel="bookmark" href="{{ site.github.url }}{{ page.url }}">
			  {{ page.title }}
		  </a>
	  </h1>

    <h2 class="p-summary p-bridgy-twitter-content">
      {{ page.summary }}
    </h2>

  </header>
  <div class="e-content">
      {{ content }}
  </div>
  <footer class="entry-footer">
	  <div class="entry-meta">
      <div class="h-card">
		        <a href="{{ site.github.url }}" class="entry-author-link" rel="author">
                  {% if site.author_img %}
                  <div class="auth-img">
                    <img src="{{ site.author_img }}" alt="{{ site.author }}" class="u-photo">
                  </div>
                  {% endif %}
                  {% include author.html %}
            </a>
      </div>
      <div class="meta-wrap">
        <p><a href="{{ post.url | prepend: site.github.url }}">{{ page.title }} </a> posted on <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-time post-date">{{ page.date | date_to_string }}</time>.</p>
        <p>This entry has been tagged with the keywords: {% for tags in page.tags %}<a href="{{ site.github.url }}/tag/{{ tags }}" class="p-category" rel="tag">{{ tags }} </a>{% endfor %}</p>
    </div>
  </div>
</footer>
</article>

<aside class="related-posts">
  {% if site.related_posts.size >= 1 %}
  <h3>You might also be interested in:</h3>
  <ul class="post-list related-posts">
  {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </h3>
    </li>
  {% endfor %}
</ul>
{% endif %}
</aside>

{% if site.webmentions %}
{% include webmentions.html %}
{% endif %}
