---
layout: default
---
<article class="post h-entry">
  <header class="entry-header">
    {% if post.title != '' %}
  	<h1 class="post-title p-name">
  		{% if post.mf-bookmark %}
  			<a class="u-bookmark-of" href="{{page.mf-bookmark | first}}">{{post.title}}</a>
  		{% elsif post.mf-bookmark-of %}
  			<a class="u-bookmark-of" href="{{page.mf-bookmark-of | first}}">{{post.title}}</a>
  		{% elsif post.mf-repost-of %}
  			<a class="u-repost-of" href="{{page.mf-repost-of | first}}">{{post.title}}</a>
  		{% else %}
  		<a class="u-url" href="{{ site.baseurl }}{{ page.url }}">
  			{{ page.title }}
  		</a>
  		{% endif %}
  	</h1>
  {% endif %}
    {% if page.summary != null %}
    <h2 class="p-summary p-bridgy-twitter-content">
      {{ page.summary }}
    </h2>
    {% endif %}
  </header>
  {% if page.mf-like-of != null %}
  {% include post-like.html post=post %}
{% else %}
  {% include post-content.html post=post %}
{% endif %}
  <footer class="entry-footer">

      <div class="h-card p-author">
		        <a href="{{ site.github.url }}" class="entry-author-link" rel="author">
                  {% if site.author_img %}
                  <div class="auth-img">
                    <img src="{{ site.author_img }}" alt="{{ site.author }}" class="u-photo">
                  </div>
                  {% endif %}
                  {% include author.html %}
            </a>
      </div>
      <div class="meta-wrap">
        <p><a href="{{ post.url | prepend: site.github.url }}">{{ page.title }} </a> posted on <time datetime="{{ page.date | date_to_xmlschema }}" class="dt-time post-date">{{ page.date | date_to_string }}</time>.</p>
        <p>This entry has been tagged with the keywords: {% for tags in page.tags %}<a href="{{ site.github.url }}/tag/{{ tags }}" class="p-category" rel="tag">{{ tags }} </a>{% endfor %}</p>
    </div>
</footer>
</article>

<aside class="related-posts">
  {% if site.related_posts.size >= 1 %}
  <h3>You might also be interested in:</h3>
  <ul class="post-list">
  {% for post in site.related_posts limit:3 %}
  <li>
    <span class="post-date"><time datetime="{{ post.date | date_to_xmlschema }}" class="dt-time post-date">{{ post.date | date_to_string }}</time></span>
     <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
</aside>

{% webmentions site.url %}
